<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peinture</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="script" href="{% static 'js/main.js' %}">
</head>

<body>
    <!-- En-tête -->
    <header>
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="Logo Nettoyage Express">
            <h1>Nettoyage Express</h1>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}"> Nos Services</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Peinture</h2>
            <p>Nous offrons des services de peinture de haute qualité pour transformer vos espaces intérieurs et extérieurs. Que ce
            soit pour une simple retouche ou une rénovation complète, nos experts en peinture utilisent des produits de première
            qualité pour garantir un résultat durable et esthétique. Nous prenons en charge tous types de surfaces, des murs aux
            plafonds, en passant par les boiseries et les meubles. Faites confiance à notre savoir-faire pour donner une nouvelle
            vie à votre maison ou à votre entreprise.</p>
            <p><a href="{% url 'contact' %}">Demandez votre devis</a></p>
        </section>
    </main>
    <!-- Pied de page -->
    <footer>
        <div class="contact-info">
            <h3>Contact</h3>
            <p>Fixe: 📞 05 94 30 23 68</p>
            <p>Mobile: 📞 06 94 46 20 12</p>
            <p>✉️ <a href="mailto:n.express@orange.fr">n.express@orange.fr</a></p>
            <p>753, Chemin de la Désirée </p>
            <p>97351 Matoury</p>
        </div>
        <div class="legal">
            <p>&copy; 2024 Nettoyage Express - Tous droits réservés</p>
        </div>
    </footer>
    </body>
    
    </html>