/* Variables Globales */
:root {
    --primary-color: #006033;
    --secondary-color: #039355;
    --text-color: #000000;
    --background-color: #f4f4f4;
    --white: #fff;
    --header-height: 70px;
    --spacing: 20px;
}

/* Réinitialisation Générale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background-color: var(--primary-color);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: var(--secondary-color);
}

/* CONTENU PRINCIPAL */
main {
    padding-top: calc(var(--header-height) + var(--spacing));
    padding: 5%;
}

/* Responsive Design */
@media (max-width: 768px) {
    #menu-toggle {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        background-color: var(--primary-color);
        position: absolute;
        top: var(--header-height);
        left: 0;
        width: 100%;
        padding: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    nav.active ul {
        display: flex;
    }

    nav ul li {
        margin: 10px 0;
    }
}
