{% extends "base.html" %}
{% block title %}À propos — Nettoyage Express{% endblock %}

{% block content %}
<section class="section">
  <h1>À propos de Nettoyage Express</h1>
  <img src="https://source.unsplash.com/800x400/?team,cleaning" alt="Notre équipe" style="width:100%; border-radius:16px; box-shadow:0 10px 20px rgba(0,0,0,.1); margin-bottom:20px;">
  <p>
    description de l'entreprise
  </p>


  <a class="btn" href="{% url 'services:list' %}">Découvrir nos services</a>
</section>
{% endblock %}