services:
  - type: web
    name: netexpress
    env: python
    rootDir: src/netexpress
    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements/prod.txt
      python manage.py collectstatic --noinput
      python manage.py migrate
    startCommand: gunicorn netexpress.wsgi:application
