DEBUG=False
DJANGO_SETTINGS_MODULE=netexpress.settings.prod
SECRET_KEY=change-me
ALLOWED_HOSTS=127.0.0.1,localhost,netexpress-web.onrender.com

# SQLite local par défaut. Si Postgres:
# DATABASE_URL=postgres://USER:PASSWORD@HOST:5432/DBNAME

# E-mails (Gmail – MOT DE PASSE D’APPLICATION SANS ESPACES)
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USE_SSL=True
EMAIL_USE_TLS=False
EMAIL_HOST_USER=vilmebeaudelaire5@gmail.com
EMAIL_HOST_PASSWORD=ymgx trrs tpqw kkwk
DEFAULT_FROM_EMAIL=vilmebeaudelaire5@gmail.com
CONTACT_RECEIVER_EMAIL=vilmebeaudelaire5@gmail.com
TASK_NOTIFICATION_EMAIL=vilmebeaudelaire5@gmail.com
