 <!-- Pied de page -->
    <footer>
        <div class="contact-info">
            <h3>Contact</h3>
            <p>Fixe: 📞 05 94 30 23 68</p>
            <p>Mobile: 📞 06 94 46 20 12</p>
            <p>✉️ <a href="mailto:n.express@orange.fr">n.express@orange.fr</a></p>
            <p>753, Chemin de la Désirée </p>
            <p>97351 Matoury</p>
        </div>
        <div class="legal">
            <p>&copy; 2024 Nettoyage Express - Tous droits réservés</p>
        </div>
    </footer>
    <!--<script src="{% static 'js/main.js' %}"></script> -->
</body>
</html>

</body>
</html>