<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>reponse</title>
</head>
<!-- En-tête -->
    <header>
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="Logo Nettoyage Express">
            <h1>Nettoyage Express</h1>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Accueil</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>
    </header>
<body>
<main>
    <h1>Message envoyé</h1>
    <p> Nous avons bien reçu votre message. Nous vous recontacterons dans le plus bref délai. </p>
    <a href="{% url 'index' %}" style="text-decoration: none">Retour à l'accueil</a>
</main>

</body>
    <!-- Pied de page -->
    <footer>
        <div class="contact-info">
            <h3>Contact</h3>
            <p>Fixe: 📞 05 94 30 23 68</p>
            <p>Mobile: 📞 06 94 46 20 12</p>
            <p>✉️ <a href="mailto:n.express@orange.fr">n.express@orange.fr</a></p>
            <p>753, Chemin de la Désirée </p>
            <p>97351 Matoury</p>
        </div>
        <div class="legal">
            <p>&copy; 2024 Nettoyage Express - Tous droits réservés</p>
        </div>
    </footer>
    <script src="{% static 'js/main.js' %}"></script>
    </body>

</html>